---
- name: Install ca-certificates
  ansible.builtin.apt:
    name: ca-certificates
    state: present

- name: Copy root CA
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/local/share/ca-certificates/{{ item | basename }}.crt"
    mode: 0644
  with_fileglob: ./files/ca/*

- name: Update ca-certificates
  ansible.builtin.command: /usr/sbin/update-ca-certificates
  retries: 3
  delay: 3
  register: result
  until: result.rc == 0
  changed_when: result.rc == 0
