---
- name: Install git
  ansible.builtin.apt:
    name: git
    state: present

- name: Setup default git configuraiton
  community.general.git_config:
    name: "{{ item.name }}"
    scope: global
    value: "{{ item.value }}"
  with_items:
    - {name: "core.editor", value: "nano"}
    - {name: "user.name", value: "{{ git.user.name }}"}
    - {name: "user.email", value: "{{ git.user.email }}"}
    - {name: "user.signingkey", value: "{{ git.user.signingkey }}"}
    - {name: "ui.color", value: "True"}
    - {name: "commit.gpgsign", value: "True"}
    - {name: "gpg.program", value: "gpg2"}
  become_user: "{{ username_on_the_host }}"
