---
- name: Add Hashicorp Apt signing key
  ansible.builtin.get_url:
    url: https://baltocdn.com/helm/signing.asc
    dest: /usr/share/keyrings/helm.asc
    mode: "0644"

- name: Add Hashicorp Apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/helm.asc] https://baltocdn.com/helm/stable/debian/ all main"
    state: present
    filename: helm

- name: Install helm
  ansible.builtin.apt:
    name: helm
    state: present
