---
- name: Install required packages
  ansible.builtin.apt:
    pkg:
      - qemu
      - binfmt-support
      - qemu-user-static
    state: present

- name: Check if packer-builder-arm is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/packer-builder-arm
  register: packer_builder_arm

- name: Git clone
  ansible.builtin.git:
    repo: https://github.com/mkaczanowski/packer-builder-arm.git
    dest: /tmp/packer-builder-arm
    version: HEAD
  when: not packer_builder_arm.stat.exists or packer_builder_arm_force_install

- name: Compile sources
  ansible.builtin.shell: /usr/bin/go build -o /tmp/packer-builder-arm
  args:
    chdir: /tmp/packer-builder-arm
  when: not packer_builder_arm.stat.exists or packer_builder_arm_force_install

- name: Copy packer-builder-arm binary to /usr/local/bin
  ansible.builtin.copy:
    src: /tmp/packer-builder-arm/packer-builder-arm
    dest: /usr/local/bin/packer-builder-arm
    owner: "{{ username_on_the_host }}"
    group: "{{ username_on_the_host }}"
    mode: "0700"
    remote_src: true
  when: not packer_builder_arm.stat.exists or packer_builder_arm_force_install
