---
- name: Install pip
  ansible.builtin.apt:
    name: python3-pip
    state: present

- name: Install venv
  ansible.builtin.apt:
    name: python3-venv
    state: present

- name: Download poetry install script
  ansible.builtin.get_url:
    url: https://install.python-poetry.org
    dest: /tmp/poetry.org
    mode: "0744"

- name: Install poetry with downloaded script
  ansible.builtin.command: python3 /tmp/poetry.org
  changed_when: false

- name: Update poetry to latest version
  ansible.builtin.command: $HOME/.local/bin/poetry self update
  changed_when: false
