---
- name: Check if cargo is installed  # noqa no-changed-when
  ansible.builtin.command: $HOME/.cargo/bin/cargo --version
  register: cargo_exists
  ignore_errors: true

- name: Download Installer
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
    force: 'yes'
  when: cargo_exists is failed or cargo_force_install

- name: Install rust/cargo
  ansible.builtin.shell: /tmp/sh.rustup.rs -y
  changed_when: false
  when: cargo_exists is failed or cargo_force_install
