---
- name: Configure default SSH config
  ansible.builtin.lineinfile:
    dest: "/etc/ssh/ssh_config"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: "present"
  with_items:
      - { regexp: '^(#   )?VerifyHostKeyDNS', line: 'VerifyHostKeyDNS ask' }