---
- name: Check if terragrunt is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/terragrunt
  register: terragrunt

- name: "Download terragrunt version {{ terragrunt_version }}"
  ansible.builtin.get_url:
    url: "https://github.com/gruntwork-io/terragrunt/releases/download/v{{ terragrunt_version }}/terragrunt_linux_amd64"
    dest: /usr/local/bin/terragrunt
    owner: "{{ username_on_the_host }}"
    group: "{{ username_on_the_host }}"
    mode: "0700"
  when: not terragrunt.stat.exists or terragrunt_force_install
